<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zulu_robot">

    <!-- Example link -->
    <xacro:include filename="properties.xacro"/>
    <xacro:include filename="robot_core.xacro"/>
    
    <!-- Lidar sensor -->
    <xacro:include filename="lidar.xacro"/>

    <!-- IMU sensor -->
    <xacro:include filename="imu.xacro"/>

    <!-- Depth camera sensor -->
    <xacro:include filename="depth_camera.xacro"/>

    <!-- ros2_control -->
    <xacro:include filename="ros2_control.xacro"/>


</robot>